Source: tll
Section: devel
Priority: optional
Maintainer: Pavel Shramov <shramov@mexmat.net>
Build-Depends: debhelper (>=10), dh-python, meson (>= 0.53), cmake, pkg-config,
    libfmt-dev (>= 5.3), libyaml-dev, zlib1g-dev, liblz4-dev, libspdlog-dev, rapidjson-dev, libgtest-dev | googletest, librhash-dev,
    python3-docutils, rst2pdf,
    python3-all-dev, cython3, python3-pytest, python3-yaml, python3-lz4, python3-decorator
Standards-Version: 4.5.0
Vcs-Git: https://github.com/shramov/tll
X-Python3-Version: >= 3.6

Package: libtll0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: libtll-java (<< 1.24)
Multi-Arch: same
Description: Framework for building data processing services.
 .
 Package containes development libraries, header files and manpages.

Package: libtll-dev
Architecture: any
Depends: ${misc:Depends}, libtll0 (= ${binary:Version})
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Framework for building data processing services.
 .
 Package containes development libraries, header files and manpages.

Package: libtll-bin
Architecture: any
Depends: ${misc:Depends}, libtll0 (= ${binary:Version})
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Framework for building data processing services.
 .
 Package containes tll-processor binary

Package: python3-tll
Architecture: any
Provides: ${python3:Provides}
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, libtll0 (= ${binary:Version}), python3-mako, python3-pkg-resources, python3-decorator
Description: Framework for building data processing services.
 .
 Package contains python bindings
