#!/usr/bin/make -f

export TLL_LIBRARY_DIR = $(shell pwd)/obj-$(DEB_BUILD_GNU_TYPE)/src

export PYBUILD_NAME = tll
export PYBUILD_SYSTEM = distutils
export PYBUILD_TEST_ARGS = -v --log-level=DEBUG -c $(shell pwd)/python/pytest.ini
export PYBUILD_TEST_PYTEST = 1

%:
	dh $@ --with python3 --buildsystem meson

override_dh_auto_clean:
	dh_auto_clean --buildsystem meson
	dh_auto_clean --buildsystem pybuild -D python

override_dh_auto_configure:
	dh_auto_configure --buildsystem meson -- -Dauto_features=enabled

override_dh_auto_build:
	dh_auto_build --buildsystem meson
	LDFLAGS=-L$(TLL_LIBRARY_DIR) dh_auto_build --buildsystem pybuild -D python

override_dh_auto_install:
	dh_auto_install --buildsystem meson
	dh_auto_install --buildsystem pybuild -D python

override_dh_auto_test:
	dh_auto_test --buildsystem meson
	LD_LIBRARY_PATH=$(TLL_LIBRARY_DIR):$(LD_LIBRARY_PATH) BUILD_DIR=$(TLL_LIBRARY_DIR) dh_auto_test --buildsystem pybuild -D python
